workflows/09-education/9.1-traitement-candidatures.json
{
  "name": "9.1 – Traitement automatisé des candidatures",
  "nodes": [
    {
      "id": "a1b2c3d4-0020-0020-0020-000000000001",
      "name": "Webhook Candidature",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "candidature",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0020-0020-0020-000000000002",
      "name": "Normaliser et valider",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "jsCode": "const c = $input.item.json.body || $input.item.json;\nconst emailRegex = /^[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}$/;\nconst email = (c.email || '').trim().toLowerCase();\nif (!emailRegex.test(email)) throw new Error('Email candidat invalide');\nconst clean = (s, max) => (s || '').toString().trim().substring(0, max || 255);\nreturn {\n  nom: clean(c.nom),\n  prenom: clean(c.prenom),\n  email,\n  telephone: clean(c.telephone, 50),\n  formation_visee: clean(c.formation_visee || c.formation),\n  bac_serie: clean(c.bac_serie, 50),\n  bac_mention: clean(c.bac_mention, 50),\n  moyenne_generale: parseFloat(c.moyenne_generale) || null,\n  lettre_motivation: clean(c.lettre_motivation, 5000),\n  source: clean(c.source || 'site', 50)\n};"
      }
    },
    {
      "id": "a1b2c3d4-0020-0020-0020-000000000003",
      "name": "Évaluer dossier avec IA",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        710,
        300
      ],
      "parameters": {
        "operation": "message",
        "modelId": "mistral-large-latest",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es responsable des admissions d'un établissement d'enseignement supérieur (post-bac). Évalue objectivement le dossier de candidature et retourne UNIQUEMENT ce JSON :\n{\n  \"score\": number (0-100),\n  \"adequation_formation\": \"forte\" | \"moyenne\" | \"faible\",\n  \"points_forts\": [\"string\"],\n  \"points_vigilance\": [\"string\"],\n  \"recommandation\": \"admission_directe\" | \"entretien\" | \"liste_attente\" | \"refus\",\n  \"commentaire\": \"string (max 200 caractères)\"\n}\nÉvalue sans biais discriminatoire, uniquement sur les critères académiques et la motivation."
            },
            {
              "role": "user",
              "content": "Formation visée : {{ $json.formation_visee }}\nBac : {{ $json.bac_serie }} – Mention {{ $json.bac_mention }}\nMoyenne générale : {{ $json.moyenne_generale }}\nLettre de motivation : {{ $json.lettre_motivation }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2,
          "maxTokens": 600
        }
      }
    },
    {
      "id": "a1b2c3d4-0020-0020-0020-000000000004",
      "name": "Parser évaluation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        300
      ],
      "parameters": {
        "jsCode": "const content = $input.item.json.message.content;\nlet eval;\ntry {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  eval = JSON.parse(match[0]);\n} catch(e) {\n  eval = { score: 0, adequation_formation: 'moyenne', points_forts: [], points_vigilance: ['Analyse automatique impossible'], recommandation: 'entretien', commentaire: 'À évaluer manuellement' };\n}\nconst c = $('Normaliser et valider').item.json;\nconst statutMap = { admission_directe: 'admis', entretien: 'entretien', liste_attente: 'liste_attente', refus: 'refuse' };\nreturn { ...c, score: eval.score, adequation: eval.adequation_formation, recommandation: eval.recommandation, statut: statutMap[eval.recommandation] || 'en_evaluation', commentaire_ia: eval.commentaire, points_forts: (eval.points_forts || []).join(' | ') };"
      }
    },
    {
      "id": "a1b2c3d4-0020-0020-0020-000000000005",
      "name": "Enregistrer candidature",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1170,
        300
      ],
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "candidatures",
        "columns": "nom, prenom, email, telephone, formation_visee, bac_serie, bac_mention, moyenne_generale, lettre_motivation, source, score, recommandation, statut, commentaire_ia",
        "additionalFields": {},
        "options": {
          "returnFields": "id, nom, prenom, formation_visee"
        }
      }
    },
    {
      "id": "a1b2c3d4-0020-0020-0020-000000000006",
      "name": "Notifier admissions",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "operation": "sendMessage",
        "guildId": "={{ $env.DISCORD_GUILD_ID }}",
        "channelId": "={{ $env.DISCORD_ADMISSIONS_CHANNEL_ID }}",
        "content": "🎓 **Nouvelle candidature** – {{ $('Parser évaluation').item.json.formation_visee }}\n**Candidat :** {{ $('Parser évaluation').item.json.prenom }} {{ $('Parser évaluation').item.json.nom }}\n**Score IA :** {{ $('Parser évaluation').item.json.score }}/100 – Adéquation {{ $('Parser évaluation').item.json.adequation }}\n**Recommandation :** {{ $('Parser évaluation').item.json.recommandation }}\n**Points forts :** {{ $('Parser évaluation').item.json.points_forts }}"
      }
    },
    {
      "id": "a1b2c3d4-0020-0020-0020-000000000007",
      "name": "Accusé de réception",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1400,
        380
      ],
      "parameters": {
        "operation": "send",
        "toList": "={{ $('Parser évaluation').item.json.email }}",
        "subject": "Candidature bien reçue – {{ $('Parser évaluation').item.json.formation_visee }}",
        "emailType": "html",
        "message": "<html><body><p>Bonjour {{ $('Parser évaluation').item.json.prenom }},</p><p>Nous accusons réception de votre candidature pour la formation <strong>{{ $('Parser évaluation').item.json.formation_visee }}</strong>.</p><p>Votre dossier va être étudié par notre commission d'admission. Vous recevrez une réponse sous 10 jours ouvrés.</p><p>Cordialement,<br>Le service des admissions</p></body></html>"
      }
    },
    {
      "id": "a1b2c3d4-0020-0020-0020-000000000008",
      "name": "Réponse webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1630,
        300
      ],
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseData": "={{ JSON.stringify({ success: true, message: 'Candidature enregistrée' }) }}"
        }
      }
    }
  ],
  "connections": {
    "Webhook Candidature": {
      "main": [
        [
          {
            "node": "Normaliser et valider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliser et valider": {
      "main": [
        [
          {
            "node": "Évaluer dossier avec IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Évaluer dossier avec IA": {
      "main": [
        [
          {
            "node": "Parser évaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser évaluation": {
      "main": [
        [
          {
            "node": "Enregistrer candidature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enregistrer candidature": {
      "main": [
        [
          {
            "node": "Notifier admissions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Accusé de réception",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accusé de réception": {
      "main": [
        [
          {
            "node": "Réponse webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "a1b2c3d4-0020-0020-0020-000000000099",
  "meta": {
    "instanceId": "nexum-flow"
  },
  "tags": [
    {
      "id": "tag-education",
      "name": "education"
    },
    {
      "id": "tag-ia",
      "name": "ia"
    },
    {
      "id": "tag-p1",
      "name": "priorite-1"
    }
  ]
}
