workflows/03-client/3.2-sync-crm-agenda.json
{
  "name": "3.2 – Synchronisation CRM et agenda",
  "nodes": [
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000001",
      "name": "Webhook Nouveau RDV",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "nouveau-rdv",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000002",
      "name": "Enregistrer RDV en base",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "rendez_vous",
        "columns": "client_id, titre, description, date_debut, date_fin, lieu, type",
        "options": { "returnFields": "id, titre, date_debut, date_fin" }
      }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000003",
      "name": "Créer événement Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [750, 200],
      "parameters": {
        "operation": "create",
        "calendarId": "={{ $env.GOOGLE_CALENDAR_ID }}",
        "start": "={{ $json.date_debut }}",
        "end": "={{ $json.date_fin }}",
        "additionalFields": {
          "summary": "={{ $json.titre }}",
          "description": "={{ $json.description }}",
          "location": "={{ $json.lieu }}",
          "reminders": {
            "useDefault": false,
            "remindersUi": {
              "reminderValues": [
                { "method": "email", "minutes": 1440 },
                { "method": "popup", "minutes": 60 }
              ]
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000004",
      "name": "Enregistrer ID Google Calendar",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1000, 200],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rendez_vous SET google_event_id = $1 WHERE id = $2",
        "additionalFields": {
          "queryParams": "={{ [$json.id, $('Enregistrer RDV en base').item.json.id] }}"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000005",
      "name": "Mettre à jour CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 420],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CRM_API_URL }}/activities",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "client_id", "value": "={{ $('Webhook Nouveau RDV').item.json.client_id }}" },
            { "name": "type", "value": "rendez_vous" },
            { "name": "titre", "value": "={{ $('Webhook Nouveau RDV').item.json.titre }}" },
            { "name": "date", "value": "={{ $('Webhook Nouveau RDV').item.json.date_debut }}" }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000006",
      "name": "Planifier rappel J-1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1250, 300],
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ new Date(new Date($('Webhook Nouveau RDV').item.json.date_debut).getTime() - 24*60*60*1000).toISOString() }}"
      }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Récupérer infos client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1500, 300],
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "clients",
        "returnAll": false,
        "limit": 1,
        "where": {
          "values": [{ "column": "id", "value": "={{ $('Webhook Nouveau RDV').item.json.client_id }}" }]
        }
      }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000008",
      "name": "Email rappel client",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1750, 200],
      "parameters": {
        "operation": "send",
        "toList": "={{ $json.email }}",
        "subject": "Rappel : Rendez-vous demain – {{ $('Webhook Nouveau RDV').item.json.titre }}",
        "emailType": "html",
        "message": "<html><body><p>Bonjour {{ $json.prenom }},</p><p>Je vous rappelle notre rendez-vous de demain :</p><ul><li><strong>Objet :</strong> {{ $('Webhook Nouveau RDV').item.json.titre }}</li><li><strong>Date :</strong> {{ new Date($('Webhook Nouveau RDV').item.json.date_debut).toLocaleString('fr-FR') }}</li><li><strong>Lieu :</strong> {{ $('Webhook Nouveau RDV').item.json.lieu }}</li></ul><p>À bientôt,<br>L'équipe Nexum Flow</p></body></html>"
      }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000009",
      "name": "Réponse succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 500],
      "parameters": {
        "options": { "responseCode": 201 }
      }
    }
  ],
  "connections": {
    "Webhook Nouveau RDV": {
      "main": [[{ "node": "Enregistrer RDV en base", "type": "main", "index": 0 }]]
    },
    "Enregistrer RDV en base": {
      "main": [
        [
          { "node": "Créer événement Google Calendar", "type": "main", "index": 0 },
          { "node": "Mettre à jour CRM", "type": "main", "index": 0 },
          { "node": "Réponse succès", "type": "main", "index": 0 }
        ]
      ]
    },
    "Créer événement Google Calendar": {
      "main": [[{ "node": "Enregistrer ID Google Calendar", "type": "main", "index": 0 }]]
    },
    "Enregistrer ID Google Calendar": {
      "main": [[{ "node": "Planifier rappel J-1", "type": "main", "index": 0 }]]
    },
    "Planifier rappel J-1": {
      "main": [[{ "node": "Récupérer infos client", "type": "main", "index": 0 }]]
    },
    "Récupérer infos client": {
      "main": [[{ "node": "Email rappel client", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "versionId": "a1b2c3d4-0007-0007-0007-000000000099",
  "meta": { "instanceId": "nexum-flow" },
  "id": "nexum-wf-03-02",
  "tags": [{ "id": "tag-client", "name": "client" }]
}
