workflows/05-ia/5.1-traitement-emails.json
{
  "name": "5.1 – Assistant IA de traitement des emails",
  "nodes": [
    {
      "id": "a1b2c3d4-0012-0012-0012-000000000001",
      "name": "Gmail Trigger – Nouveaux emails",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ]
        },
        "options": {
          "downloadAttachments": true
        }
      }
    },
    {
      "id": "a1b2c3d4-0012-0012-0012-000000000002",
      "name": "Déjà traité ?",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM emails_traites WHERE message_id = $1",
        "additionalFields": {
          "queryParams": "={{ [$json.id] }}"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0012-0012-0012-000000000003",
      "name": "Email nouveau ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0012-0012-0012-000000000013",
      "name": "Sanitiser contenu email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const email = $input.item.json;\n// Tronquer pour éviter les attaques par dépassement de contexte et prompt injection\nconst MAX_LEN = 3000;\nconst sanitize = (s) => (s || '').replace(/ignore (all |previous |above )/gi, '[filtré] ').substring(0, MAX_LEN);\nreturn {\n  id: email.id,\n  from: (email.from || '').substring(0, 200),\n  subject: sanitize(email.subject).substring(0, 200),\n  body: sanitize(email.text || email.snippet),\n  has_attachments: Array.isArray(email.attachments) && email.attachments.length > 0\n};"
      }
    },
    {
      "id": "a1b2c3d4-0012-0012-0012-000000000004",
      "name": "Classifier avec IA",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ],
      "parameters": {
        "operation": "message",
        "modelId": "mistral-small-latest",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es un assistant de classification d'emails pour une entreprise de développement web. Analyse l'email et retourne UNIQUEMENT ce JSON:\n{\n  \"classification\": \"prospect\" | \"facturation\" | \"sav\" | \"urgent\" | \"spam\" | \"interne\" | \"autre\",\n  \"priorite\": \"haute\" | \"normale\" | \"faible\",\n  \"sentiment\": \"positif\" | \"neutre\" | \"negatif\" | \"insatisfait\",\n  \"resume\": \"string (max 100 caractères)\",\n  \"action_recommandee\": \"string\",\n  \"reponse_automatique\": \"string ou null (si une réponse rapide est possible)\",\n  \"creer_ticket\": boolean,\n  \"escalader\": boolean\n}"
            },
            {
              "role": "user",
              "content": "Expéditeur: {{ $('Sanitiser contenu email').item.json.from }}\nSujet: {{ $('Sanitiser contenu email').item.json.subject }}\nContenu: {{ $('Sanitiser contenu email').item.json.body }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2,
          "maxTokens": 600
        }
      }
    },
    {
      "id": "a1b2c3d4-0012-0012-0012-000000000005",
      "name": "Parser classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        200
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const content = $input.item.json.message.content;\nlet classification;\ntry {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  classification = JSON.parse(match[0]);\n} catch(e) {\n  classification = { classification: 'autre', priorite: 'normale', sentiment: 'neutre', resume: 'Analyse impossible', action_recommandee: 'Vérifier manuellement', reponse_automatique: null, creer_ticket: false, escalader: false };\n}\nconst email = $('Gmail Trigger – Nouveaux emails').item.json;\nreturn { ...classification, email_id: email.id, expediteur: email.from, sujet: email.subject };"
      }
    },
    {
      "id": "a1b2c3d4-0012-0012-0012-000000000006",
      "name": "Réponse automatique possible ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        100
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-r",
              "leftValue": "={{ $json.reponse_automatique }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0012-0012-0012-000000000007",
      "name": "Envoyer réponse automatique",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1750,
        0
      ],
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.email_id }}",
        "emailType": "html",
        "message": "<html><body><p>{{ $json.reponse_automatique }}</p><p>--<br>Nexum Flow – Assistant automatique</p></body></html>"
      }
    },
    {
      "id": "a1b2c3d4-0012-0012-0012-000000000008",
      "name": "Créer ticket SAV ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        320
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-t",
              "leftValue": "={{ $json.creer_ticket }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0012-0012-0012-000000000009",
      "name": "Créer ticket dans CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1750,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CRM_API_URL }}/tickets",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "titre",
              "value": "={{ $json.sujet }}"
            },
            {
              "name": "expediteur",
              "value": "={{ $json.expediteur }}"
            },
            {
              "name": "priorite",
              "value": "={{ $json.priorite }}"
            },
            {
              "name": "classification",
              "value": "={{ $json.classification }}"
            },
            {
              "name": "resume",
              "value": "={{ $json.resume }}"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0012-0012-0012-000000000010",
      "name": "Notifier si urgent",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1750,
        500
      ],
      "parameters": {
        "operation": "sendMessage",
        "guildId": "={{ $env.DISCORD_GUILD_ID }}",
        "channelId": "={{ $json.priorite === 'haute' ? $env.DISCORD_URGENT_CHANNEL_ID : $env.DISCORD_SAV_CHANNEL_ID }}",
        "content": "{{ $json.priorite === 'haute' ? '🚨 EMAIL URGENT' : '📧 Nouvel email' }} – {{ $json.classification.toUpperCase() }}\n**De :** {{ $json.expediteur }}\n**Sujet :** {{ $json.sujet }}\n**Résumé :** {{ $json.resume }}\n**Action :** {{ $json.action_recommandee }}"
      }
    },
    {
      "id": "a1b2c3d4-0012-0012-0012-000000000011",
      "name": "Enregistrer en base",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1500,
        520
      ],
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "emails_traites",
        "columns": "message_id, expediteur, sujet, classification, priorite, action_effectuee",
        "options": {}
      }
    }
  ],
  "connections": {
    "Gmail Trigger – Nouveaux emails": {
      "main": [
        [
          {
            "node": "Déjà traité ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Déjà traité ?": {
      "main": [
        [
          {
            "node": "Email nouveau ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email nouveau ?": {
      "main": [
        [
          {
            "node": "Sanitiser contenu email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Sanitiser contenu email": {
      "main": [
        [
          {
            "node": "Classifier avec IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classifier avec IA": {
      "main": [
        [
          {
            "node": "Parser classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser classification": {
      "main": [
        [
          {
            "node": "Réponse automatique possible ?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Créer ticket SAV ?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notifier si urgent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enregistrer en base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Réponse automatique possible ?": {
      "main": [
        [
          {
            "node": "Envoyer réponse automatique",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Créer ticket SAV ?": {
      "main": [
        [
          {
            "node": "Créer ticket dans CRM",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "a1b2c3d4-0012-0012-0012-000000000099",
  "meta": {
    "instanceId": "nexum-flow"
  },
  "tags": [
    {
      "id": "tag-ia",
      "name": "ia"
    },
    {
      "id": "tag-p1",
      "name": "priorite-1"
    }
  ]
}
