workflows/02-commercial/2.1-relance-devis.json
{
  "name": "2.1 – Relance automatique des devis",
  "nodes": [
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000001",
      "name": "Schedule – chaque matin 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1-5" }]
        }
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000002",
      "name": "Récupérer devis en attente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT d.*, c.email, c.prenom, c.nom, c.entreprise\nFROM devis d\nJOIN clients c ON d.client_id = c.id\nWHERE d.statut = 'envoye'\n  AND d.date_validite > NOW()\n  AND d.nb_relances < 2\n  AND (\n    d.derniere_relance IS NULL\n    OR (\n      d.nb_relances = 0 AND d.date_envoi <= NOW() - INTERVAL '3 days'\n    )\n    OR (\n      d.nb_relances = 1 AND d.derniere_relance <= NOW() - INTERVAL '4 days'\n    )\n  )",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Des devis à relancer ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000004",
      "name": "Première ou deuxième relance ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 200],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-2",
              "leftValue": "={{ $json.nb_relances }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000005",
      "name": "Email relance J+3",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1250, 100],
      "parameters": {
        "operation": "send",
        "toList": "={{ $json.email }}",
        "subject": "Votre devis n°{{ $json.numero }} – Avez-vous eu le temps d'y jeter un œil ?",
        "emailType": "html",
        "message": "<html><body><p>Bonjour {{ $json.prenom }},</p><p>Je me permets de revenir vers vous concernant le devis n°<strong>{{ $json.numero }}</strong> d'un montant de <strong>{{ $json.montant_ttc }}€ TTC</strong> que nous vous avons transmis il y a quelques jours.</p><p>Avez-vous eu l'occasion de l'étudier ? N'hésitez pas à me faire part de vos questions ou ajustements éventuels.</p><p>Ce devis est valable jusqu'au {{ $json.date_validite }}.</p><p>Cordialement,<br>L'équipe Nexum Flow</p></body></html>"
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000006",
      "name": "Email relance J+7 (finale)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1250, 320],
      "parameters": {
        "operation": "send",
        "toList": "={{ $json.email }}",
        "subject": "Dernier rappel – Devis n°{{ $json.numero }} expire bientôt",
        "emailType": "html",
        "message": "<html><body><p>Bonjour {{ $json.prenom }},</p><p>Je vous contacte une dernière fois au sujet du devis n°<strong>{{ $json.numero }}</strong>. Il arrive à expiration le <strong>{{ $json.date_validite }}</strong>.</p><p>Si ce projet n'est plus d'actualité, pas de souci — je clôture simplement le dossier. Sinon, je suis disponible pour en discuter.</p><p>Cordialement,<br>L'équipe Nexum Flow</p></body></html>"
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000007",
      "name": "Mettre à jour compteur relances",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1500, 200],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE devis SET nb_relances = nb_relances + 1, derniere_relance = NOW() WHERE id = $1",
        "additionalFields": {
          "queryParams": "={{ [$json.id] }}"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000008",
      "name": "Notifier commercial",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1750, 200],
      "parameters": {
        "operation": "sendMessage",
        "guildId": "={{ $env.DISCORD_GUILD_ID }}",
        "channelId": "={{ $env.DISCORD_COMMERCIAL_CHANNEL_ID }}",
        "content": "📧 Relance n°{{ $json.nb_relances + 1 }} envoyée\n**Client :** {{ $json.prenom }} {{ $json.nom }} ({{ $json.entreprise }})\n**Devis :** n°{{ $json.numero }} – {{ $json.montant_ttc }}€ TTC\n**Expire le :** {{ $json.date_validite }}"
      }
    }
  ],
  "connections": {
    "Schedule – chaque matin 8h": {
      "main": [[{ "node": "Récupérer devis en attente", "type": "main", "index": 0 }]]
    },
    "Récupérer devis en attente": {
      "main": [[{ "node": "Des devis à relancer ?", "type": "main", "index": 0 }]]
    },
    "Des devis à relancer ?": {
      "main": [
        [{ "node": "Première ou deuxième relance ?", "type": "main", "index": 0 }],
        []
      ]
    },
    "Première ou deuxième relance ?": {
      "main": [
        [{ "node": "Email relance J+3", "type": "main", "index": 0 }],
        [{ "node": "Email relance J+7 (finale)", "type": "main", "index": 0 }]
      ]
    },
    "Email relance J+3": {
      "main": [[{ "node": "Mettre à jour compteur relances", "type": "main", "index": 0 }]]
    },
    "Email relance J+7 (finale)": {
      "main": [[{ "node": "Mettre à jour compteur relances", "type": "main", "index": 0 }]]
    },
    "Mettre à jour compteur relances": {
      "main": [[{ "node": "Notifier commercial", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "versionId": "a1b2c3d4-0003-0003-0003-000000000099",
  "meta": { "instanceId": "nexum-flow" },
  "id": "nexum-wf-02-01",
  "tags": [{ "id": "tag-commercial", "name": "commercial" }, { "id": "tag-p1", "name": "priorite-1" }]
}
