workflows/02-commercial/2.3-pipeline-commercial-ia.json
{
  "name": "2.3 – Pipeline commercial IA (scoring & priorisation)",
  "nodes": [
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000001",
      "name": "Schedule – chaque lundi 7h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000002",
      "name": "Récupérer tous les leads actifs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.*, d.montant_ttc as devis_montant, d.statut as devis_statut\nFROM leads l\nLEFT JOIN devis d ON d.client_id = (SELECT id FROM clients WHERE leads.id = l.id LIMIT 1)\nWHERE l.statut NOT IN ('perdu', 'signe')\nORDER BY l.score DESC NULLS LAST\nLIMIT 100",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000003",
      "name": "Analyser pipeline avec IA",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "parameters": {
        "operation": "message",
        "modelId": "mistral-large-latest",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es un directeur commercial expert. Analyse ce pipeline de prospects et génère:\n1. Un TOP 5 des prospects à contacter en priorité cette semaine\n2. Une estimation du CA potentiel total\n3. Les prospects à risque de perdre\n4. Des recommandations d'actions concrètes\nRéponds en JSON: { top5: [...], ca_potentiel: number, prospects_risque: [...], recommandations: [...], resume_pipeline: string }"
            },
            {
              "role": "user",
              "content": "Pipeline actuel ({{ $json.length }} prospects):\n{{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 2000
        }
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000004",
      "name": "Parser analyse pipeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "jsCode": "const content = $input.item.json.message.content;\nlet analyse;\ntry {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  analyse = JSON.parse(match[0]);\n} catch(e) {\n  analyse = { resume_pipeline: content, top5: [], ca_potentiel: 0, prospects_risque: [], recommandations: [] };\n}\nreturn analyse;"
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Envoyer rapport Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1250,
        200
      ],
      "parameters": {
        "operation": "sendMessage",
        "guildId": "={{ $env.DISCORD_GUILD_ID }}",
        "channelId": "={{ $env.DISCORD_COMMERCIAL_CHANNEL_ID }}",
        "content": "📊 **Rapport pipeline commercial – Semaine {{ new Date().toLocaleDateString('fr-FR') }}**\n\n💰 CA potentiel total : **{{ $json.ca_potentiel }}€**\n\n🏆 **TOP 5 priorités :**\n{{ $json.top5.map((p, i) => `${i+1}. ${p.nom} – ${p.raison}`).join('\\n') }}\n\n⚠️ **Prospects à risque :**\n{{ $json.prospects_risque.map(p => `- ${p.nom}: ${p.risque}`).join('\\n') }}\n\n🎯 **Recommandations :**\n{{ $json.recommandations.map(r => `• ${r}`).join('\\n') }}"
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000006",
      "name": "Email rapport au dirigeant",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1250,
        420
      ],
      "parameters": {
        "operation": "send",
        "toList": "={{ $env.SMTP_USER }}",
        "subject": "Rapport Pipeline Commercial – Semaine du {{ new Date().toLocaleDateString('fr-FR') }}",
        "emailType": "html",
        "message": "<html><body><h2>Pipeline Commercial</h2><p><strong>CA potentiel :</strong> {{ $json.ca_potentiel }}€</p><h3>Résumé</h3><p>{{ $json.resume_pipeline }}</p><h3>TOP 5 priorités</h3><ul>{{ $json.top5.map(p => `<li>${p.nom} – ${p.raison}</li>`).join('') }}</ul><h3>Recommandations</h3><ul>{{ $json.recommandations.map(r => `<li>${r}</li>`).join('') }}</ul></body></html>"
      }
    }
  ],
  "connections": {
    "Schedule – chaque lundi 7h": {
      "main": [
        [
          {
            "node": "Récupérer tous les leads actifs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupérer tous les leads actifs": {
      "main": [
        [
          {
            "node": "Analyser pipeline avec IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyser pipeline avec IA": {
      "main": [
        [
          {
            "node": "Parser analyse pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser analyse pipeline": {
      "main": [
        [
          {
            "node": "Envoyer rapport Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email rapport au dirigeant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "a1b2c3d4-0005-0005-0005-000000000099",
  "meta": {
    "instanceId": "nexum-flow"
  },
  "tags": [
    {
      "id": "tag-commercial",
      "name": "commercial"
    },
    {
      "id": "tag-ia",
      "name": "ia"
    }
  ]
}
