workflows/11-pilotage/11.1-suivi-projet-relances.json
{
  "name": "11.1 – Suivi de projet & relances tâches",
  "nodes": [
    {
      "id": "c1c2c3c4-1101-1101-1101-000000000001",
      "name": "Chaque jour à 8h30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "30 8 * * 1-5" }
          ]
        }
      }
    },
    {
      "id": "c1c2c3c4-1101-1101-1101-000000000002",
      "name": "Tâches à risque",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [320, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.id, t.titre, t.assigne_email, t.deadline, t.statut, t.priorite, p.nom AS projet, p.client FROM taches t JOIN projets p ON p.id = t.projet_id WHERE t.statut NOT IN ('terminee','annulee') AND (t.deadline <= CURRENT_DATE + INTERVAL '2 days' OR t.statut = 'bloquee') ORDER BY t.deadline ASC NULLS LAST"
      }
    },
    {
      "id": "c1c2c3c4-1101-1101-1101-000000000003",
      "name": "Des tâches à risque ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [540, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "exists", "singleValue": true }
            }
          ]
        }
      }
    },
    {
      "id": "c1c2c3c4-1101-1101-1101-000000000004",
      "name": "Agréger le rapport",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 220],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const taches = $input.all().map(i => i.json);\nconst aujourdhui = new Date();\nconst enRetard = taches.filter(t => t.deadline && new Date(t.deadline) < aujourdhui);\nconst bloquees = taches.filter(t => t.statut === 'bloquee');\nconst urgentes = taches.filter(t => t.deadline && new Date(t.deadline) >= aujourdhui);\nconst lignes = taches.map(t => `- [${t.projet} / ${t.client}] ${t.titre} — ${t.assigne_email || 'non assigné'} — échéance ${t.deadline || 'n/a'} — ${t.statut}${t.priorite ? ' (' + t.priorite + ')' : ''}`).join('\\n');\nreturn [{ json: {\n  nb_total: taches.length,\n  nb_retard: enRetard.length,\n  nb_bloquees: bloquees.length,\n  nb_urgentes: urgentes.length,\n  detail: lignes,\n  taches\n} }];"
      }
    },
    {
      "id": "c1c2c3c4-1101-1101-1101-000000000005",
      "name": "Synthèse IA",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [980, 220],
      "parameters": {
        "operation": "message",
        "modelId": "mistral-large-latest",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es chef de projet. À partir de la liste des tâches à risque, rédige une synthèse HTML concise pour l'équipe : priorités du jour, points d'attention, suggestions de déblocage. Ton factuel et actionnable. Max 250 mots."
            },
            {
              "role": "user",
              "content": "=Tâches en retard : {{ $json.nb_retard }}, bloquées : {{ $json.nb_bloquees }}, échéances proches : {{ $json.nb_urgentes }}.\n\nDétail :\n{{ $json.detail }}"
            }
          ]
        },
        "options": { "temperature": 0.3, "maxTokens": 600 }
      }
    },
    {
      "id": "c1c2c3c4-1101-1101-1101-000000000006",
      "name": "Rapport équipe Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1200, 220],
      "parameters": {
        "operation": "sendMessage",
        "guildId": "={{ $env.DISCORD_GUILD_ID }}",
        "channelId": "={{ $env.DISCORD_PROJETS_CHANNEL_ID }}",
        "content": "=📋 **Point projets du {{ new Date().toLocaleDateString('fr-FR') }}**\n🔴 {{ $('Agréger le rapport').item.json.nb_retard }} en retard · ⛔ {{ $('Agréger le rapport').item.json.nb_bloquees }} bloquées · ⏰ {{ $('Agréger le rapport').item.json.nb_urgentes }} échéances proches\n\n{{ $json.message.content.replace(/<[^>]+>/g, '') }}"
      }
    },
    {
      "id": "c1c2c3c4-1101-1101-1101-000000000007",
      "name": "Rien à signaler",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [760, 400],
      "parameters": {}
    }
  ],
  "connections": {
    "Chaque jour à 8h30": {
      "main": [[{ "node": "Tâches à risque", "type": "main", "index": 0 }]]
    },
    "Tâches à risque": {
      "main": [[{ "node": "Des tâches à risque ?", "type": "main", "index": 0 }]]
    },
    "Des tâches à risque ?": {
      "main": [
        [{ "node": "Agréger le rapport", "type": "main", "index": 0 }],
        [{ "node": "Rien à signaler", "type": "main", "index": 0 }]
      ]
    },
    "Agréger le rapport": {
      "main": [[{ "node": "Synthèse IA", "type": "main", "index": 0 }]]
    },
    "Synthèse IA": {
      "main": [[{ "node": "Rapport équipe Discord", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "c1c2c3c4-1101-1101-1101-000000000099",
  "meta": { "instanceId": "nexum-flow" },
  "tags": [
    { "id": "tag-pilotage", "name": "pilotage" },
    { "id": "tag-ia", "name": "ia" }
  ]
}
