workflows/11-pilotage/11.3-compte-rendu-reunion.json
{
  "name": "11.3 – Compte-rendu de réunion & tâches",
  "nodes": [
    {
      "id": "c1c2c3c4-1103-1103-1103-000000000001",
      "name": "Webhook Notes réunion",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "compte-rendu",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "c1c2c3c4-1103-1103-1103-000000000002",
      "name": "Nettoyer et sécuriser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const b = $input.item.json.body || $input.item.json;\nconst notes = (b.notes || b.transcription || '').toString();\nif (notes.trim().length < 20) throw new Error('Notes de réunion trop courtes ou absentes');\nconst clean = s => (s || '').toString().replace(/<[^>]*>/g, '').replace(/ignore\\s+(all|previous|above)/gi, '').trim();\nconst emailRegex = /^[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}$/;\nconst projet_id = (b.projet_id || '').toString().trim() || null;\nconst destinataires = Array.isArray(b.destinataires) ? b.destinataires.filter(e => emailRegex.test(e)).slice(0, 20) : [];\nreturn { titre: clean(b.titre || 'Réunion').substring(0, 200), notes: clean(notes).substring(0, 12000), projet_id, destinataires: destinataires.join(',') };"
      }
    },
    {
      "id": "c1c2c3c4-1103-1103-1103-000000000003",
      "name": "Analyser réunion (IA)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        540,
        300
      ],
      "parameters": {
        "operation": "message",
        "modelId": "mistral-large-latest",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es assistant de réunion. À partir de notes brutes, retourne UNIQUEMENT ce JSON :\n{\n  \"resume\": \"string (5-8 lignes des points discutés)\",\n  \"decisions\": [\"string\"],\n  \"taches\": [{\"titre\": \"string\", \"assigne_email\": \"string ou ''\", \"deadline\": \"YYYY-MM-DD ou ''\"}],\n  \"sujets_suivants\": [\"string\"]\n}\nN'invente aucune information absente des notes."
            },
            {
              "role": "user",
              "content": "=Titre : {{ $json.titre }}\n\nNotes :\n{{ $json.notes }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2,
          "maxTokens": 1500
        }
      }
    },
    {
      "id": "c1c2c3c4-1103-1103-1103-000000000004",
      "name": "Parser compte-rendu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const content = $input.item.json.message.content;\nconst src = $('Nettoyer et sécuriser').item.json;\nlet cr;\ntry { cr = JSON.parse(content.match(/\\{[\\s\\S]*\\}/)[0]); }\ncatch(e) { cr = { resume: content.substring(0, 1000), decisions: [], taches: [], sujets_suivants: [] }; }\nconst taches = (cr.taches || []).filter(t => t && t.titre).slice(0, 30);\nreturn {\n  titre: src.titre,\n  projet_id: src.projet_id,\n  destinataires: src.destinataires,\n  resume: cr.resume || '',\n  decisions: (cr.decisions || []),\n  taches,\n  sujets_suivants: (cr.sujets_suivants || []),\n  decisions_html: (cr.decisions || []).map(d => `<li>${d}</li>`).join(''),\n  taches_html: taches.map(t => `<li>${t.titre}${t.assigne_email ? ' — ' + t.assigne_email : ''}${t.deadline ? ' (échéance ' + t.deadline + ')' : ''}</li>`).join(''),\n  sujets_html: (cr.sujets_suivants || []).map(s => `<li>${s}</li>`).join('')\n};"
      }
    },
    {
      "id": "c1c2c3c4-1103-1103-1103-000000000005",
      "name": "Des tâches à créer ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        980,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.taches.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "c1c2c3c4-1103-1103-1103-000000000006",
      "name": "Éclater les tâches",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "fieldToSplitOut": "taches",
        "include": "selectedOtherFields",
        "fieldsToInclude": "projet_id",
        "options": {}
      }
    },
    {
      "id": "c1c2c3c4-1103-1103-1103-000000000007",
      "name": "Créer tâche",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1420,
        200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO taches (projet_id, titre, assigne_email, deadline, statut, source) VALUES ($1, $2, NULLIF($3,''), NULLIF($4,'')::date, 'a_faire', 'reunion')",
        "queryParams": "={{ [$json.projet_id, $json.taches.titre, $json.taches.assigne_email || '', $json.taches.deadline || ''] }}"
      }
    },
    {
      "id": "c1c2c3c4-1103-1103-1103-000000000008",
      "name": "Envoyer le compte-rendu",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1200,
        400
      ],
      "parameters": {
        "operation": "send",
        "toList": "={{ $('Parser compte-rendu').item.json.destinataires || $env.EMAIL_PERSO }}",
        "subject": "=📝 Compte-rendu : {{ $('Parser compte-rendu').item.json.titre }}",
        "emailType": "html",
        "message": "=<html><body><h2>{{ $('Parser compte-rendu').item.json.titre }}</h2><h3>Résumé</h3><p>{{ $('Parser compte-rendu').item.json.resume }}</p><h3>Décisions</h3><ul>{{ $('Parser compte-rendu').item.json.decisions_html }}</ul><h3>Tâches</h3><ul>{{ $('Parser compte-rendu').item.json.taches_html }}</ul><h3>À suivre</h3><ul>{{ $('Parser compte-rendu').item.json.sujets_html }}</ul></body></html>"
      }
    },
    {
      "id": "c1c2c3c4-1103-1103-1103-000000000009",
      "name": "Réponse webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1420,
        400
      ],
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseData": "={{ JSON.stringify({ success: true, resume: $('Parser compte-rendu').item.json.resume, nb_taches: $('Parser compte-rendu').item.json.taches.length }) }}"
        }
      }
    }
  ],
  "connections": {
    "Webhook Notes réunion": {
      "main": [
        [
          {
            "node": "Nettoyer et sécuriser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nettoyer et sécuriser": {
      "main": [
        [
          {
            "node": "Analyser réunion (IA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyser réunion (IA)": {
      "main": [
        [
          {
            "node": "Parser compte-rendu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser compte-rendu": {
      "main": [
        [
          {
            "node": "Envoyer le compte-rendu",
            "type": "main",
            "index": 0
          },
          {
            "node": "Des tâches à créer ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Des tâches à créer ?": {
      "main": [
        [
          {
            "node": "Éclater les tâches",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Éclater les tâches": {
      "main": [
        [
          {
            "node": "Créer tâche",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer le compte-rendu": {
      "main": [
        [
          {
            "node": "Réponse webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "c1c2c3c4-1103-1103-1103-000000000099",
  "meta": {
    "instanceId": "nexum-flow"
  },
  "tags": [
    {
      "id": "tag-pilotage",
      "name": "pilotage"
    },
    {
      "id": "tag-ia",
      "name": "ia"
    }
  ]
}
