workflows/10-vie-quotidienne/10.11-alertes-maison.json
{
  "name": "10.11 – Alertes maison (météo, air, pollen)",
  "nodes": [
    {
      "id": "b1b2c3d4-1011-1011-1011-000000000001",
      "name": "Chaque matin 6h45",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "45 6 * * *" }
          ]
        }
      }
    },
    {
      "id": "b1b2c3d4-1011-1011-1011-000000000002",
      "name": "Prévisions météo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 200],
      "parameters": {
        "method": "GET",
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "latitude", "value": "={{ $env.LAT_DOMICILE || '48.8566' }}" },
            { "name": "longitude", "value": "={{ $env.LON_DOMICILE || '2.3522' }}" },
            { "name": "daily", "value": "temperature_2m_max,temperature_2m_min,precipitation_sum,windspeed_10m_max,weathercode,uv_index_max" },
            { "name": "timezone", "value": "Europe/Paris" },
            { "name": "forecast_days", "value": "1" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      }
    },
    {
      "id": "b1b2c3d4-1011-1011-1011-000000000003",
      "name": "Qualité de l'air & pollen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 400],
      "parameters": {
        "method": "GET",
        "url": "https://air-quality-api.open-meteo.com/v1/air-quality",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "latitude", "value": "={{ $env.LAT_DOMICILE || '48.8566' }}" },
            { "name": "longitude", "value": "={{ $env.LON_DOMICILE || '2.3522' }}" },
            { "name": "hourly", "value": "european_aqi,pm2_5,grass_pollen,birch_pollen,ragweed_pollen" },
            { "name": "timezone", "value": "Europe/Paris" },
            { "name": "forecast_days", "value": "1" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      }
    },
    {
      "id": "b1b2c3d4-1011-1011-1011-000000000004",
      "name": "Attendre les deux sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [540, 300],
      "parameters": {
        "mode": "combine",
        "options": {}
      }
    },
    {
      "id": "b1b2c3d4-1011-1011-1011-000000000005",
      "name": "Évaluer les risques",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const meteo = $('Prévisions météo').first().json;\nconst air = $('Qualité de l\\'air & pollen').first().json;\nconst d = meteo.daily || {};\nconst tmax = (d.temperature_2m_max || [])[0];\nconst tmin = (d.temperature_2m_min || [])[0];\nconst pluie = (d.precipitation_sum || [])[0];\nconst vent = (d.windspeed_10m_max || [])[0];\nconst uv = (d.uv_index_max || [])[0];\n\nconst h = air.hourly || {};\nconst max = arr => Array.isArray(arr) ? arr.reduce((m, v) => (v != null && v > m ? v : m), 0) : 0;\nconst aqi = max(h.european_aqi);\nconst pm25 = max(h.pm2_5);\nconst pollen = Math.max(max(h.grass_pollen), max(h.birch_pollen), max(h.ragweed_pollen));\n\nconst alertes = [];\nif (tmax != null && tmax >= 33) alertes.push(`🌡️ Forte chaleur : jusqu'à ${tmax}°C. Hydratez-vous, fermez les volets.`);\nif (tmin != null && tmin <= -2) alertes.push(`❄️ Gel : minimale ${tmin}°C. Protégez plantes et canalisations.`);\nif (pluie != null && pluie >= 20) alertes.push(`🌧️ Fortes précipitations : ${pluie} mm attendus.`);\nif (vent != null && vent >= 60) alertes.push(`💨 Vent fort : rafales jusqu'à ${vent} km/h. Rentrez les objets légers.`);\nif (uv != null && uv >= 7) alertes.push(`☀️ Indice UV élevé (${uv}). Protection solaire recommandée.`);\nif (aqi >= 80) alertes.push(`😷 Qualité de l'air dégradée (AQI ${Math.round(aqi)}, PM2.5 ${Math.round(pm25)}). Limitez les efforts en extérieur.`);\nif (pollen >= 50) alertes.push(`🤧 Risque pollen élevé. Allergiques : fermez les fenêtres en journée.`);\n\nreturn [{ json: {\n  alerte: alertes.length > 0,\n  nb: alertes.length,\n  resume: `Min ${tmin}°C / Max ${tmax}°C, pluie ${pluie}mm, vent ${vent}km/h, AQI ${Math.round(aqi)}`,\n  alertes_html: alertes.map(a => `<li>${a}</li>`).join('')\n} }];"
      }
    },
    {
      "id": "b1b2c3d4-1011-1011-1011-000000000006",
      "name": "Alerte à envoyer ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [980, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.alerte }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ]
        }
      }
    },
    {
      "id": "b1b2c3d4-1011-1011-1011-000000000007",
      "name": "Email alerte maison",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1200, 200],
      "parameters": {
        "operation": "send",
        "toList": "={{ $env.EMAIL_PERSO }}",
        "subject": "=🏠 Alerte maison du jour ({{ $json.nb }})",
        "emailType": "html",
        "message": "=<html><body><h2>Conditions du jour</h2><p>{{ $json.resume }}</p><h3>Points d'attention</h3><ul>{{ $json.alertes_html }}</ul></body></html>"
      }
    }
  ],
  "connections": {
    "Chaque matin 6h45": {
      "main": [[
        { "node": "Prévisions météo", "type": "main", "index": 0 },
        { "node": "Qualité de l'air & pollen", "type": "main", "index": 0 }
      ]]
    },
    "Prévisions météo": {
      "main": [[{ "node": "Attendre les deux sources", "type": "main", "index": 0 }]]
    },
    "Qualité de l'air & pollen": {
      "main": [[{ "node": "Attendre les deux sources", "type": "main", "index": 1 }]]
    },
    "Attendre les deux sources": {
      "main": [[{ "node": "Évaluer les risques", "type": "main", "index": 0 }]]
    },
    "Évaluer les risques": {
      "main": [[{ "node": "Alerte à envoyer ?", "type": "main", "index": 0 }]]
    },
    "Alerte à envoyer ?": {
      "main": [
        [{ "node": "Email alerte maison", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "b1b2c3d4-1011-1011-1011-000000000099",
  "meta": { "instanceId": "nexum-flow" },
  "tags": [
    { "id": "tag-vie-quotidienne", "name": "vie-quotidienne" },
    { "id": "tag-alertes", "name": "alertes" }
  ]
}
