workflows/10-vie-quotidienne/10.2-suivi-budget.json
{
  "name": "10.2 – Suivi budget & alertes dépenses",
  "nodes": [
    {
      "id": "b1b2c3d4-1002-1002-1002-000000000001",
      "name": "Webhook Dépense",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "depense",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "b1b2c3d4-1002-1002-1002-000000000002",
      "name": "Valider dépense",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300],
      "parameters": {
        "jsCode": "const d = $input.item.json.body || $input.item.json;\nconst montant = parseFloat(d.montant);\nif (!montant || montant <= 0 || montant > 50000) throw new Error('Montant invalide');\nconst clean = (s, max) => (s || '').toString().replace(/<[^>]*>/g, '').trim().substring(0, max);\nconst cats = ['alimentation','transport','logement','sante','loisirs','shopping','restauration','abonnements','autre'];\nconst cat = cats.includes((d.categorie || '').toLowerCase()) ? d.categorie.toLowerCase() : 'autre';\nconst dateStr = d.date ? new Date(d.date).toISOString().split('T')[0] : new Date().toISOString().split('T')[0];\nreturn { montant, categorie: cat, description: clean(d.description, 200), date: dateStr, source: 'webhook' };"
      }
    },
    {
      "id": "b1b2c3d4-1002-1002-1002-000000000003",
      "name": "Enregistrer dépense",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [520, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO depenses (montant, categorie, description, date, source) VALUES ($1, $2, $3, $4, $5) RETURNING id",
        "queryParams": "={{ [$json.montant, $json.categorie, $json.description, $json.date, $json.source] }}"
      }
    },
    {
      "id": "b1b2c3d4-1002-1002-1002-000000000004",
      "name": "Total du mois par catégorie",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [740, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT categorie, SUM(montant)::numeric(10,2) AS total FROM depenses WHERE date_trunc('month', date) = date_trunc('month', CURRENT_DATE) GROUP BY categorie ORDER BY total DESC"
      }
    },
    {
      "id": "b1b2c3d4-1002-1002-1002-000000000005",
      "name": "Analyser et conseiller",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const totaux = $input.all().map(i => i.json);\nconst totalMois = totaux.reduce((s, r) => s + parseFloat(r.total || 0), 0);\nconst budget = parseFloat($env.BUDGET_MENSUEL_ALERTE) || 2000;\nconst depense = $('Valider dépense').item.json;\nreturn [{\n  json: {\n    totaux,\n    total_mois: totalMois.toFixed(2),\n    budget_mensuel: budget,\n    depassement: totalMois > budget,\n    pct_budget: Math.round(totalMois / budget * 100),\n    derniere_depense: depense\n  }\n}];"
      }
    },
    {
      "id": "b1b2c3d4-1002-1002-1002-000000000006",
      "name": "Dépassement budget ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1180, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.depassement }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ]
        }
      }
    },
    {
      "id": "b1b2c3d4-1002-1002-1002-000000000007",
      "name": "Alerte dépassement",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1400, 200],
      "parameters": {
        "operation": "send",
        "toList": "={{ $env.EMAIL_PERSO }}",
        "subject": "⚠️ Budget mensuel dépassé – {{ $json.pct_budget }}% utilisé",
        "emailType": "html",
        "message": "<html><body><h2>⚠️ Alerte budget</h2><p>Vous avez dépensé <strong>{{ $json.total_mois }} €</strong> ce mois-ci, soit <strong>{{ $json.pct_budget }}%</strong> de votre budget de {{ $json.budget_mensuel }} €.</p><h3>Répartition par catégorie :</h3><ul>={{ $json.totaux.map(r => `<li>${r.categorie} : ${r.total} €</li>`).join('') }}</ul><p>Dernière dépense enregistrée : <strong>{{ $json.derniere_depense.description }}</strong> – {{ $json.derniere_depense.montant }} € ({{ $json.derniere_depense.categorie }})</p></body></html>"
      }
    },
    {
      "id": "b1b2c3d4-1002-1002-1002-000000000008",
      "name": "Réponse succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1400, 420],
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseData": "={{ JSON.stringify({ success: true, total_mois: $json.total_mois, pct_budget: $json.pct_budget }) }}"
        }
      }
    }
  ],
  "connections": {
    "Webhook Dépense": {
      "main": [[{ "node": "Valider dépense", "type": "main", "index": 0 }]]
    },
    "Valider dépense": {
      "main": [[{ "node": "Enregistrer dépense", "type": "main", "index": 0 }]]
    },
    "Enregistrer dépense": {
      "main": [[{ "node": "Total du mois par catégorie", "type": "main", "index": 0 }]]
    },
    "Total du mois par catégorie": {
      "main": [[{ "node": "Analyser et conseiller", "type": "main", "index": 0 }]]
    },
    "Analyser et conseiller": {
      "main": [[{ "node": "Dépassement budget ?", "type": "main", "index": 0 }]]
    },
    "Dépassement budget ?": {
      "main": [
        [{ "node": "Alerte dépassement", "type": "main", "index": 0 }],
        [{ "node": "Réponse succès", "type": "main", "index": 0 }]
      ]
    },
    "Alerte dépassement": {
      "main": [[{ "node": "Réponse succès", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "b1b2c3d4-1002-1002-1002-000000000099",
  "meta": { "instanceId": "nexum-flow" },
  "tags": [
    { "id": "tag-vie-quotidienne", "name": "vie-quotidienne" },
    { "id": "tag-budget", "name": "budget" }
  ]
}
