workflows/10-vie-quotidienne/10.3-liste-courses-repas.json
{
  "name": "10.3 – Liste de courses & planification repas",
  "nodes": [
    {
      "id": "b1b2c3d4-1003-1003-1003-000000000001",
      "name": "Webhook Courses",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "courses",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "b1b2c3d4-1003-1003-1003-000000000002",
      "name": "Valider articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300],
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\nconst action = (body.action || 'add').toLowerCase();\nconst clean = s => (s || '').toString().replace(/<[^>]*>/g, '').trim().substring(0, 100);\nif (action === 'add') {\n  const articles = Array.isArray(body.articles) ? body.articles : [body.article].filter(Boolean);\n  if (!articles.length) throw new Error('Aucun article fourni');\n  const semaine = new Date().toISOString().substring(0, 10);\n  return articles.slice(0, 50).map(a => ({\n    article: clean(typeof a === 'string' ? a : a.nom || a.article),\n    quantite: clean(typeof a === 'object' ? a.quantite : ''),\n    semaine,\n    action: 'add'\n  }));\n}\nreturn [{ action: 'generate_plan', semaine: new Date().toISOString().substring(0, 10) }];"
      }
    },
    {
      "id": "b1b2c3d4-1003-1003-1003-000000000003",
      "name": "Enregistrer en base",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [520, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO liste_courses (article, quantite, semaine) VALUES ($1, $2, $3) ON CONFLICT DO NOTHING",
        "queryParams": "={{ [$json.article, $json.quantite, $json.semaine] }}"
      }
    },
    {
      "id": "b1b2c3d4-1003-1003-1003-000000000004",
      "name": "Récupérer liste complète",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [740, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT article, quantite, categorie, achete FROM liste_courses WHERE semaine >= $1 AND achete = false ORDER BY categorie NULLS LAST, article",
        "queryParams": "={{ [new Date(Date.now() - 7*24*3600*1000).toISOString().split('T')[0]] }}"
      }
    },
    {
      "id": "b1b2c3d4-1003-1003-1003-000000000005",
      "name": "Planifier repas avec IA",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [960, 300],
      "parameters": {
        "operation": "message",
        "modelId": "mistral-small-latest",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es un assistant culinaire. À partir d'une liste de courses, tu proposes un plan de repas pour la semaine (déjeuner + dîner x 5 jours) et tu organises la liste par rayon supermarché. Réponds en JSON : { \"plan_repas\": { \"lundi\": {\"dejeuner\": \"...\", \"diner\": \"...\"}, ... }, \"liste_organisee\": { \"Fruits & légumes\": [...], \"Viandes & poissons\": [...], \"Produits laitiers\": [...], \"Épicerie\": [...], \"Surgelés\": [...], \"Autre\": [...] } }"
            },
            {
              "role": "user",
              "content": "Liste de courses :\n={{ $input.all().map(i => `- ${i.json.article}${i.json.quantite ? ' (' + i.json.quantite + ')' : ''}`).join('\\n') }}"
            }
          ]
        },
        "options": {
          "temperature": 0.5,
          "maxTokens": 1200
        }
      }
    },
    {
      "id": "b1b2c3d4-1003-1003-1003-000000000006",
      "name": "Formater et envoyer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 300],
      "parameters": {
        "jsCode": "const content = $input.item.json.message.content;\nlet plan;\ntry {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  plan = JSON.parse(match[0]);\n} catch(e) {\n  plan = { plan_repas: {}, liste_organisee: { Autre: [] } };\n}\nconst jours = ['lundi','mardi','mercredi','jeudi','vendredi'];\nconst planHtml = jours.map(j => {\n  const r = plan.plan_repas[j] || {};\n  return `<tr><td><strong>${j.charAt(0).toUpperCase()+j.slice(1)}</strong></td><td>${r.dejeuner || '–'}</td><td>${r.diner || '–'}</td></tr>`;\n}).join('');\nconst listeHtml = Object.entries(plan.liste_organisee || {}).map(([rayon, items]) =>\n  `<h3>${rayon}</h3><ul>${(items||[]).map(i => `<li>${i}</li>`).join('')}</ul>`\n).join('');\nreturn [{\n  json: {\n    plan_html: planHtml,\n    liste_html: listeHtml\n  }\n}];"
      }
    },
    {
      "id": "b1b2c3d4-1003-1003-1003-000000000007",
      "name": "Envoyer par email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1400, 250],
      "parameters": {
        "operation": "send",
        "toList": "={{ $env.EMAIL_PERSO }}",
        "subject": "=🛒 Liste de courses + plan repas semaine du {{ new Date().toLocaleDateString('fr-FR') }}",
        "emailType": "html",
        "message": "<html><body><h2>Plan repas de la semaine</h2><table border='1' cellpadding='6'><tr><th>Jour</th><th>Déjeuner</th><th>Dîner</th></tr>={{ $json.plan_html }}</table><br><h2>Liste de courses par rayon</h2>={{ $json.liste_html }}</body></html>"
      }
    },
    {
      "id": "b1b2c3d4-1003-1003-1003-000000000008",
      "name": "Réponse webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1400, 400],
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseData": "={ \"success\": true, \"message\": \"Liste mise à jour et plan envoyé par email\" }"
        }
      }
    }
  ],
  "connections": {
    "Webhook Courses": {
      "main": [[{ "node": "Valider articles", "type": "main", "index": 0 }]]
    },
    "Valider articles": {
      "main": [[{ "node": "Enregistrer en base", "type": "main", "index": 0 }]]
    },
    "Enregistrer en base": {
      "main": [[{ "node": "Récupérer liste complète", "type": "main", "index": 0 }]]
    },
    "Récupérer liste complète": {
      "main": [[{ "node": "Planifier repas avec IA", "type": "main", "index": 0 }]]
    },
    "Planifier repas avec IA": {
      "main": [[{ "node": "Formater et envoyer", "type": "main", "index": 0 }]]
    },
    "Formater et envoyer": {
      "main": [
        [{ "node": "Envoyer par email", "type": "main", "index": 0 }],
        [{ "node": "Réponse webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "b1b2c3d4-1003-1003-1003-000000000099",
  "meta": { "instanceId": "nexum-flow" },
  "tags": [
    { "id": "tag-vie-quotidienne", "name": "vie-quotidienne" },
    { "id": "tag-ia", "name": "ia" }
  ]
}
