workflows/10-vie-quotidienne/10.8-journal-humeur.json
{
  "name": "10.8 – Journal & suivi d'humeur",
  "nodes": [
    {
      "id": "b1b2c3d4-1008-1008-1008-000000000001",
      "name": "Webhook Journal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        200
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "journal",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "b1b2c3d4-1008-1008-1008-000000000002",
      "name": "Valider entrée",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        200
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const b = $input.item.json.body || $input.item.json;\nconst humeur = parseInt(b.humeur);\nif (!(humeur >= 1 && humeur <= 5)) throw new Error('Humeur invalide (attendu 1 à 5)');\nconst clean = s => (s || '').toString().replace(/<[^>]*>/g, '').replace(/ignore\\s+(all|previous|above)/gi, '').trim().substring(0, 4000);\nreturn { humeur, note: clean(b.note), date: new Date().toISOString().split('T')[0] };"
      }
    },
    {
      "id": "b1b2c3d4-1008-1008-1008-000000000003",
      "name": "Enregistrer entrée",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        540,
        200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO journal_perso (date, humeur, note) VALUES ($1, $2, $3) RETURNING id",
        "queryParams": "={{ [$json.date, $json.humeur, $json.note] }}"
      }
    },
    {
      "id": "b1b2c3d4-1008-1008-1008-000000000004",
      "name": "Réflexion bienveillante (IA)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        760,
        200
      ],
      "parameters": {
        "operation": "message",
        "modelId": "mistral-small-latest",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es un compagnon de journal intime, bienveillant et non-jugeant. Tu réponds en 2-3 phrases courtes : tu valides l'émotion, tu poses éventuellement une question douce, tu encourages. Pas de conseils médicaux. Si la note exprime une grande détresse, suggère doucement d'en parler à un proche ou un professionnel."
            },
            {
              "role": "user",
              "content": "=Humeur du jour : {{ $('Valider entrée').item.json.humeur }}/5\nNote : {{ $('Valider entrée').item.json.note || '(aucune)' }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 200
        }
      }
    },
    {
      "id": "b1b2c3d4-1008-1008-1008-000000000005",
      "name": "Réponse journal",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        980,
        200
      ],
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseData": "={{ JSON.stringify({ success: true, reflexion: $json.message.content }) }}"
        }
      }
    },
    {
      "id": "b1b2c3d4-1008-1008-1008-000000000006",
      "name": "Chaque dimanche 20h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        480
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * 0"
            }
          ]
        }
      }
    },
    {
      "id": "b1b2c3d4-1008-1008-1008-000000000007",
      "name": "Entrées de la semaine",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        320,
        480
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT date, humeur, note FROM journal_perso WHERE date >= CURRENT_DATE - INTERVAL '7 days' ORDER BY date ASC"
      }
    },
    {
      "id": "b1b2c3d4-1008-1008-1008-000000000008",
      "name": "Agréger la semaine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        480
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const entrees = $input.all().map(i => i.json).filter(e => e.date);\nif (!entrees.length) return [{ json: { vide: true } }];\nconst moyenne = (entrees.reduce((s, e) => s + (parseInt(e.humeur) || 0), 0) / entrees.length).toFixed(1);\nconst detail = entrees.map(e => `- ${e.date} : ${e.humeur}/5${e.note ? ' — ' + e.note.substring(0, 200) : ''}`).join('\\n');\nreturn [{ json: { vide: false, nb: entrees.length, moyenne, detail } }];"
      }
    },
    {
      "id": "b1b2c3d4-1008-1008-1008-000000000009",
      "name": "Des entrées ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        480
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.vide }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      }
    },
    {
      "id": "b1b2c3d4-1008-1008-1008-000000000010",
      "name": "Bilan hebdo (IA)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        980,
        480
      ],
      "parameters": {
        "operation": "message",
        "modelId": "mistral-large-latest",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es un coach de bien-être bienveillant. À partir d'un journal de la semaine, rédige un bilan HTML encourageant (max 200 mots) : tendance générale de l'humeur, ce qui semble avoir aidé, une intention douce pour la semaine à venir. Pas de diagnostic médical."
            },
            {
              "role": "user",
              "content": "=Humeur moyenne : {{ $json.moyenne }}/5 sur {{ $json.nb }} entrées.\n\nDétail :\n{{ $json.detail }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      }
    },
    {
      "id": "b1b2c3d4-1008-1008-1008-000000000011",
      "name": "Email bilan humeur",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1200,
        480
      ],
      "parameters": {
        "operation": "send",
        "toList": "={{ $env.EMAIL_PERSO }}",
        "subject": "=🌈 Bilan de votre semaine – humeur moyenne {{ $('Agréger la semaine').item.json.moyenne }}/5",
        "emailType": "html",
        "message": "={{ $json.message.content }}"
      }
    }
  ],
  "connections": {
    "Webhook Journal": {
      "main": [
        [
          {
            "node": "Valider entrée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valider entrée": {
      "main": [
        [
          {
            "node": "Enregistrer entrée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enregistrer entrée": {
      "main": [
        [
          {
            "node": "Réflexion bienveillante (IA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Réflexion bienveillante (IA)": {
      "main": [
        [
          {
            "node": "Réponse journal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chaque dimanche 20h": {
      "main": [
        [
          {
            "node": "Entrées de la semaine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrées de la semaine": {
      "main": [
        [
          {
            "node": "Agréger la semaine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agréger la semaine": {
      "main": [
        [
          {
            "node": "Des entrées ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Des entrées ?": {
      "main": [
        [
          {
            "node": "Bilan hebdo (IA)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Bilan hebdo (IA)": {
      "main": [
        [
          {
            "node": "Email bilan humeur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "b1b2c3d4-1008-1008-1008-000000000099",
  "meta": {
    "instanceId": "nexum-flow"
  },
  "tags": [
    {
      "id": "tag-vie-quotidienne",
      "name": "vie-quotidienne"
    },
    {
      "id": "tag-sante",
      "name": "sante"
    },
    {
      "id": "tag-ia",
      "name": "ia"
    }
  ]
}
