workflows/04-administratif/4.3-generation-documentaire.json
{
  "name": "4.3 – Génération documentaire IA (contrats, courriers, CR)",
  "nodes": [
    {
      "id": "a1b2c3d4-0011-0011-0011-000000000001",
      "name": "Webhook Génération Document",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generer-document",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0011-0011-0011-000000000002",
      "name": "Type de document ?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        500,
        300
      ],
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.type_document }}"
      }
    },
    {
      "id": "a1b2c3d4-0011-0011-0011-000000000003",
      "name": "Prompt Contrat",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        750,
        100
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "system_prompt",
              "value": "Tu es un juriste expert en droit français des affaires. Rédige un contrat de prestation de services professionnel et légalement solide. Inclus : objet, durée, prix, conditions de paiement, propriété intellectuelle, confidentialité, responsabilité, résiliation. Format: markdown structuré."
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0011-0011-0011-000000000004",
      "name": "Prompt Compte-rendu",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        750,
        280
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "system_prompt",
              "value": "Tu es un expert en rédaction professionnelle. Génère un compte-rendu de réunion structuré avec : date/heure/participants, ordre du jour, points abordés, décisions prises, actions à mener (responsable + deadline). Format: markdown clair."
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0011-0011-0011-000000000005",
      "name": "Prompt Courrier",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        750,
        460
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "system_prompt",
              "value": "Tu es un expert en communication professionnelle. Rédige un courrier professionnel en français, avec les formules de politesse appropriées, structuré et concis. Adapte le ton selon le contexte (formel/amical/commercial)."
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0011-0011-0011-000000000006",
      "name": "Générer document avec IA",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "operation": "message",
        "modelId": "mistral-large-latest",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "={{ $json.system_prompt || 'Tu es un expert en rédaction professionnelle.' }}"
            },
            {
              "role": "user",
              "content": "Génère ce document:\nType: {{ $('Webhook Génération Document').item.json.type_document }}\nContexte: {{ $('Webhook Génération Document').item.json.contexte }}\nClient: {{ $('Webhook Génération Document').item.json.client_nom }}\nInformations supplémentaires: {{ JSON.stringify($('Webhook Génération Document').item.json.details || {}) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.4,
          "maxTokens": 3000
        }
      }
    },
    {
      "id": "a1b2c3d4-0011-0011-0011-000000000007",
      "name": "Convertir en PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_HOST }}/api/v1/documents/markdown-to-pdf",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.message.content }}"
            },
            {
              "name": "titre",
              "value": "={{ $('Webhook Génération Document').item.json.type_document }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0011-0011-0011-000000000008",
      "name": "Archiver dans MinIO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1500,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_HOST }}/api/v1/storage/upload",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chemin",
              "value": "Clients/{{ $('Webhook Génération Document').item.json.client_nom }}/Documents/{{ $('Webhook Génération Document').item.json.type_document }}_{{ new Date().toISOString().split('T')[0] }}.pdf"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0011-0011-0011-000000000009",
      "name": "Réponse avec document",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1500,
        420
      ],
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseData": "={{ JSON.stringify({ success: true, contenu: $('Générer document avec IA').item.json.message.content }) }}"
        }
      }
    }
  ],
  "connections": {
    "Webhook Génération Document": {
      "main": [
        [
          {
            "node": "Type de document ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Type de document ?": {
      "main": [
        [
          {
            "node": "Prompt Contrat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt Compte-rendu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt Courrier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Contrat": {
      "main": [
        [
          {
            "node": "Générer document avec IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Compte-rendu": {
      "main": [
        [
          {
            "node": "Générer document avec IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Courrier": {
      "main": [
        [
          {
            "node": "Générer document avec IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Générer document avec IA": {
      "main": [
        [
          {
            "node": "Convertir en PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir en PDF": {
      "main": [
        [
          {
            "node": "Archiver dans MinIO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Réponse avec document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "a1b2c3d4-0011-0011-0011-000000000099",
  "meta": {
    "instanceId": "nexum-flow"
  },
  "tags": [
    {
      "id": "tag-admin",
      "name": "administratif"
    },
    {
      "id": "tag-ia",
      "name": "ia"
    },
    {
      "id": "tag-p2",
      "name": "priorite-2"
    }
  ]
}
