workflows/07-veille/7.1-veille-concurrentielle.json
{
  "name": "7.1 – Veille concurrentielle automatisée",
  "nodes": [
    {
      "id": "a1b2c3d4-0018-0018-0018-000000000001",
      "name": "Schedule – mercredi 7h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 3"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0018-0018-0018-000000000002",
      "name": "Liste concurrents",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        500,
        300
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "concurrents",
              "value": "={{ $env.CONCURRENTS_URLS ? JSON.parse($env.CONCURRENTS_URLS) : [] }}"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0018-0018-0018-000000000003",
      "name": "Scraper chaque site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        850,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.concurrents }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0018-0018-0018-000000000004",
      "name": "Analyser concurrence avec IA",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "operation": "message",
        "modelId": "mistral-large-latest",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es analyste en veille concurrentielle spécialisé dans le digital et le développement web. Analyse le contenu HTML d'un site concurrent et génère un rapport JSON:\n{\n  \"nom_societe\": \"string\",\n  \"url\": \"string\",\n  \"offres_principales\": [\"string\"],\n  \"prix_observes\": [\"string\"],\n  \"points_forts\": [\"string\"],\n  \"points_faibles\": [\"string\"],\n  \"opportunites_pour_nous\": [\"string\"],\n  \"nouvelles_offres_detectees\": [\"string\"],\n  \"resume\": \"string\"\n}"
            },
            {
              "role": "user",
              "content": "URL: {{ $('Scraper chaque site').item.json.url || 'inconnue' }}\nContenu (extrait):\n{{ ($input.item.json.data || '').substring(0, 5000) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 1500
        }
      }
    },
    {
      "id": "a1b2c3d4-0018-0018-0018-000000000005",
      "name": "Parser analyse concurrent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const content = $input.item.json.message.content;\nlet analyse;\ntry {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  analyse = JSON.parse(match[0]);\n} catch(e) { analyse = { resume: content, url: '' }; }\nreturn analyse;"
      }
    },
    {
      "id": "a1b2c3d4-0018-0018-0018-000000000006",
      "name": "Agréger tous les rapports",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { rapports: $input.all().map(i => i.json) } }];"
      }
    },
    {
      "id": "a1b2c3d4-0018-0018-0018-000000000007",
      "name": "Synthèse globale IA",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1850,
        300
      ],
      "parameters": {
        "operation": "message",
        "modelId": "mistral-large-latest",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es directeur stratégique. Génère une synthèse de veille concurrentielle actionnable avec : tendances marché, positionnement à adopter, opportunités à saisir cette semaine, menaces à surveiller."
            },
            {
              "role": "user",
              "content": "Rapports concurrents:\n{{ JSON.stringify($json.rapports, null, 2) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.4,
          "maxTokens": 1500
        }
      }
    },
    {
      "id": "a1b2c3d4-0018-0018-0018-000000000008",
      "name": "Rapport Discord veille",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2350,
        200
      ],
      "parameters": {
        "operation": "sendMessage",
        "guildId": "={{ $env.DISCORD_GUILD_ID }}",
        "channelId": "={{ $env.DISCORD_VEILLE_CHANNEL_ID }}",
        "content": "🔍 **Rapport Veille Concurrentielle – {{ new Date().toLocaleDateString('fr-FR') }}**\n\n{{ $json.message.content }}"
      }
    },
    {
      "id": "a1b2c3d4-0018-0018-0018-000000000009",
      "name": "Email rapport veille",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2350,
        420
      ],
      "parameters": {
        "operation": "send",
        "toList": "={{ $env.SMTP_USER }}",
        "subject": "Veille Concurrentielle – {{ new Date().toLocaleDateString('fr-FR') }}",
        "emailType": "html",
        "message": "<html><body><h2>Rapport Veille Concurrentielle</h2><p>{{ $json.message.content.replace(/\\n/g, '<br>') }}</p></body></html>"
      }
    },
    {
      "id": "a1b2c3d4-0018-0018-0018-000000000010",
      "name": "Diviser URLs concurrents",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "parameters": {
        "fieldToSplitOut": "concurrents",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule – mercredi 7h": {
      "main": [
        [
          {
            "node": "Liste concurrents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Liste concurrents": {
      "main": [
        [
          {
            "node": "Diviser URLs concurrents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scraper chaque site": {
      "main": [
        [
          {
            "node": "Analyser concurrence avec IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyser concurrence avec IA": {
      "main": [
        [
          {
            "node": "Parser analyse concurrent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser analyse concurrent": {
      "main": [
        [
          {
            "node": "Agréger tous les rapports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agréger tous les rapports": {
      "main": [
        [
          {
            "node": "Synthèse globale IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Synthèse globale IA": {
      "main": [
        [
          {
            "node": "Rapport Discord veille",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email rapport veille",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diviser URLs concurrents": {
      "main": [
        [
          {
            "node": "Scraper chaque site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "a1b2c3d4-0018-0018-0018-000000000099",
  "meta": {
    "instanceId": "nexum-flow"
  },
  "tags": [
    {
      "id": "tag-veille",
      "name": "veille"
    },
    {
      "id": "tag-ia",
      "name": "ia"
    },
    {
      "id": "tag-p2",
      "name": "priorite-2"
    }
  ]
}
