workflows/07-veille/7.2-veille-technologique.json
{
  "name": "7.2 – Veille technologique (GitHub, HN, Reddit)",
  "nodes": [
    {
      "id": "a1b2c3d4-0019-0019-0019-000000000001",
      "name": "Schedule – vendredi 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 5"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0019-0019-0019-000000000002",
      "name": "GitHub – Trending repos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        150
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/search/repositories",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "n8n OR automation OR fastapi OR nextjs created:>{{ new Date(Date.now() - 7*24*60*60*1000).toISOString().split('T')[0] }}"
            },
            {
              "name": "sort",
              "value": "stars"
            },
            {
              "name": "order",
              "value": "desc"
            },
            {
              "name": "per_page",
              "value": "10"
            }
          ]
        },
        "headers": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "nexum-flow-bot"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0019-0019-0019-000000000003",
      "name": "Hacker News – Top stories",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        320
      ],
      "parameters": {
        "method": "GET",
        "url": "https://hn.algolia.com/api/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "automation n8n AI workflow"
            },
            {
              "name": "tags",
              "value": "story"
            },
            {
              "name": "numericFilters",
              "value": "created_at_i>{{ Math.floor((Date.now() - 7*24*60*60*1000) / 1000) }}"
            },
            {
              "name": "hitsPerPage",
              "value": "10"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0019-0019-0019-000000000004",
      "name": "Dev.to – Articles techniques",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        490
      ],
      "parameters": {
        "method": "GET",
        "url": "https://dev.to/api/articles",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tag",
              "value": "automation,n8n,selfhosted,webdev"
            },
            {
              "name": "top",
              "value": "7"
            },
            {
              "name": "per_page",
              "value": "10"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0019-0019-0019-000000000005",
      "name": "Consolider sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        320
      ],
      "parameters": {
        "jsCode": "const github = $('GitHub – Trending repos').item.json.items || [];\nconst hn = $('Hacker News – Top stories').item.json.hits || [];\nconst devto = $('Dev.to – Articles techniques').item.json;\nconst devtoItems = Array.isArray(devto) ? devto : [];\n\nconst githubFormate = github.slice(0, 5).map(r => ({\n  source: 'GitHub',\n  titre: r.full_name,\n  description: r.description,\n  url: r.html_url,\n  stars: r.stargazers_count,\n  langage: r.language\n}));\n\nconst hnFormate = hn.slice(0, 5).map(h => ({\n  source: 'Hacker News',\n  titre: h.title,\n  url: h.url || `https://news.ycombinator.com/item?id=${h.objectID}`,\n  points: h.points,\n  commentaires: h.num_comments\n}));\n\nconst devtoFormate = devtoItems.slice(0, 5).map(a => ({\n  source: 'Dev.to',\n  titre: a.title,\n  url: a.url,\n  tags: (a.tag_list || []).join(', '),\n  reactions: a.public_reactions_count\n}));\n\nreturn {\n  github: githubFormate,\n  hackernews: hnFormate,\n  devto: devtoFormate,\n  total: githubFormate.length + hnFormate.length + devtoFormate.length\n};"
      }
    },
    {
      "id": "a1b2c3d4-0019-0019-0019-000000000006",
      "name": "Analyser et résumer avec IA",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1300,
        320
      ],
      "parameters": {
        "operation": "message",
        "modelId": "mistral-large-latest",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es expert veille technologique pour une agence de développement web et automatisation. Analyse ces contenus de la semaine et génère:\n1. Les 5 tendances tech majeures à retenir\n2. Les outils/libs à tester en priorité\n3. Ce que nos concurrents pourraient adopter\n4. Des idées de nouveaux services à proposer\n5. Un résumé en 3 phrases pour le dirigeant\nSois concis et actionnable."
            },
            {
              "role": "user",
              "content": "Sources de la semaine:\n{{ JSON.stringify($json, null, 2) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.5,
          "maxTokens": 2000
        }
      }
    },
    {
      "id": "a1b2c3d4-0019-0019-0019-000000000007",
      "name": "Construire rapport final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1550,
        320
      ],
      "parameters": {
        "jsCode": "const sources = $('Consolider sources').item.json;\nconst analyse = $input.item.json.message.content;\nconst date = new Date().toLocaleDateString('fr-FR', { weekday: 'long', day: 'numeric', month: 'long' });\n\nconst githubList = sources.github.map(r => `• [${r.titre}](${r.url}) – ${r.stars}⭐ (${r.langage || 'N/A'})`).join('\\n');\nconst hnList = sources.hackernews.map(h => `• [${h.titre}](${h.url}) – ${h.points} pts`).join('\\n');\nconst devtoList = (sources.devto || []).map(a => `• [${a.titre}](${a.url}) – ${a.tags}`).join('\\n');\n\nreturn {\n  date,\n  analyse,\n  sources,\n  rapport_discord: `🔭 **VEILLE TECH – ${date}**\\n\\n🤖 **Analyse IA :**\\n${analyse}\\n\\n**GitHub Trending :**\\n${githubList}\\n\\n**Hacker News :**\\n${hnList}\\n\\n**Dev.to :**\\n${devtoList}`\n};"
      }
    },
    {
      "id": "a1b2c3d4-0019-0019-0019-000000000008",
      "name": "Partager Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1800,
        200
      ],
      "parameters": {
        "operation": "sendMessage",
        "guildId": "={{ $env.DISCORD_GUILD_ID }}",
        "channelId": "={{ $env.DISCORD_VEILLE_CHANNEL_ID }}",
        "content": "={{ $json.rapport_discord.substring(0, 1900) }}"
      }
    },
    {
      "id": "a1b2c3d4-0019-0019-0019-000000000009",
      "name": "Email veille tech",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1800,
        440
      ],
      "parameters": {
        "operation": "send",
        "toList": "={{ $env.SMTP_USER }}",
        "subject": "Veille Technologique – {{ $json.date }}",
        "emailType": "html",
        "message": "<html><body><h2>Veille Technologique – {{ $json.date }}</h2><h3>Analyse IA</h3><p>{{ $json.analyse.replace(/\\n/g, '<br>') }}</p><h3>GitHub Trending</h3><ul>{{ $json.sources.github.map(r => `<li><a href='${r.url}'>${r.titre}</a> – ${r.stars}⭐</li>`).join('') }}</ul><h3>Hacker News</h3><ul>{{ $json.sources.hackernews.map(h => `<li><a href='${h.url}'>${h.titre}</a></li>`).join('') }}</ul><h3>Dev.to</h3><ul>{{ ($json.sources.devto || []).map(a => `<li><a href='${a.url}'>${a.titre}</a></li>`).join('') }}</ul></body></html>"
      }
    },
    {
      "id": "a1b2c3d4-0019-0019-0019-000000000010",
      "name": "Attendre toutes les sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        800,
        320
      ],
      "parameters": {
        "mode": "combine",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule – vendredi 8h": {
      "main": [
        [
          {
            "node": "GitHub – Trending repos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hacker News – Top stories",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit – r/n8n et r/selfhosted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub – Trending repos": {
      "main": [
        [
          {
            "node": "Attendre toutes les sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News – Top stories": {
      "main": [
        [
          {
            "node": "Attendre toutes les sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Consolider sources": {
      "main": [
        [
          {
            "node": "Analyser et résumer avec IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyser et résumer avec IA": {
      "main": [
        [
          {
            "node": "Construire rapport final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire rapport final": {
      "main": [
        [
          {
            "node": "Partager Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email veille tech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dev.to – Articles techniques": {
      "main": [
        [
          {
            "node": "Attendre toutes les sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Attendre toutes les sources": {
      "main": [
        [
          {
            "node": "Consolider sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "a1b2c3d4-0019-0019-0019-000000000099",
  "meta": {
    "instanceId": "nexum-flow"
  },
  "tags": [
    {
      "id": "tag-veille",
      "name": "veille"
    },
    {
      "id": "tag-ia",
      "name": "ia"
    },
    {
      "id": "tag-p2",
      "name": "priorite-2"
    }
  ]
}
