workflows/06-marketing/6.1-avis-clients.json
{
  "name": "6.1 – Gestion automatisée des avis clients",
  "nodes": [
    {
      "id": "a1b2c3d4-0015-0015-0015-000000000001",
      "name": "Webhook Fin de prestation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "fin-prestation",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0015-0015-0015-000000000002",
      "name": "Récupérer infos client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "clients",
        "returnAll": false,
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.client_id }}"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0015-0015-0015-000000000003",
      "name": "Attendre 3 jours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "parameters": {
        "resume": "timeInterval",
        "unit": "days",
        "value": 3
      }
    },
    {
      "id": "a1b2c3d4-0015-0015-0015-000000000004",
      "name": "Email demande d'avis",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ],
      "parameters": {
        "operation": "send",
        "toList": "={{ $json.email }}",
        "subject": "Votre avis nous intéresse – {{ $json.entreprise }}",
        "emailType": "html",
        "message": "<html><body><p>Bonjour {{ $json.prenom }},</p><p>Nous espérons que la prestation <strong>{{ $('Webhook Fin de prestation').item.json.description_prestation }}</strong> a répondu à vos attentes.</p><p>Nous serions ravis de connaître votre retour d'expérience :</p><p style='text-align:center'><a href='https://g.page/r/nexum-flow/review' style='background:#4285f4;color:white;padding:12px 24px;text-decoration:none;border-radius:4px'>⭐ Laisser un avis Google</a></p><p>Cela nous aide énormément et ne prend que 2 minutes. Merci d'avance !</p><p>Cordialement,<br>L'équipe Nexum Flow</p></body></html>"
      }
    },
    {
      "id": "a1b2c3d4-0015-0015-0015-000000000005",
      "name": "Enregistrer demande d'avis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1000,
        420
      ],
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "avis_clients",
        "columns": "client_id, date_demande",
        "additionalFields": {
          "date_demande": "={{ new Date().toISOString() }}"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0015-0015-0015-000000000006",
      "name": "Attendre 7 jours supplémentaires",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "resume": "timeInterval",
        "unit": "days",
        "value": 7
      }
    },
    {
      "id": "a1b2c3d4-0015-0015-0015-000000000007",
      "name": "A-t-il laissé un avis ?",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM avis_clients WHERE client_id = $1 AND date_reception IS NOT NULL",
        "additionalFields": {
          "queryParams": "={{ [$('Webhook Fin de prestation').item.json.client_id] }}"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0015-0015-0015-000000000008",
      "name": "Pas encore d'avis ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1750,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0015-0015-0015-000000000009",
      "name": "Relance avis (finale)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2000,
        200
      ],
      "parameters": {
        "operation": "send",
        "toList": "={{ $('Récupérer infos client').item.json.email }}",
        "subject": "Dernier rappel – Votre avis compte pour nous",
        "emailType": "html",
        "message": "<html><body><p>Bonjour {{ $('Récupérer infos client').item.json.prenom }},</p><p>Je me permets de vous rappeler notre demande d'avis. Votre retour est précieux pour nous améliorer et aider d'autres clients à nous trouver.</p><p style='text-align:center'><a href='https://g.page/r/nexum-flow/review' style='background:#4285f4;color:white;padding:12px 24px;text-decoration:none;border-radius:4px'>⭐ Laisser un avis (2 min)</a></p><p>Merci de votre fidélité,<br>L'équipe Nexum Flow</p></body></html>"
      }
    }
  ],
  "connections": {
    "Webhook Fin de prestation": {
      "main": [
        [
          {
            "node": "Récupérer infos client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupérer infos client": {
      "main": [
        [
          {
            "node": "Attendre 3 jours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attendre 3 jours": {
      "main": [
        [
          {
            "node": "Email demande d'avis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enregistrer demande d'avis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email demande d'avis": {
      "main": [
        [
          {
            "node": "Attendre 7 jours supplémentaires",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attendre 7 jours supplémentaires": {
      "main": [
        [
          {
            "node": "A-t-il laissé un avis ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A-t-il laissé un avis ?": {
      "main": [
        [
          {
            "node": "Pas encore d'avis ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pas encore d'avis ?": {
      "main": [
        [
          {
            "node": "Relance avis (finale)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "a1b2c3d4-0015-0015-0015-000000000099",
  "meta": {
    "instanceId": "nexum-flow"
  },
  "tags": [
    {
      "id": "tag-marketing",
      "name": "marketing"
    },
    {
      "id": "tag-p3",
      "name": "priorite-3"
    }
  ]
}