workflows/06-marketing/6.3-analyse-reputation.json
{
  "name": "6.3 – Analyse de la réputation en ligne",
  "nodes": [
    {
      "id": "a1b2c3d4-0017-0017-0017-000000000001",
      "name": "Schedule – chaque lundi 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1" }] }
      }
    },
    {
      "id": "a1b2c3d4-0017-0017-0017-000000000002",
      "name": "Scraper avis Google Places",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 200],
      "parameters": {
        "method": "GET",
        "url": "https://maps.googleapis.com/maps/api/place/details/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "place_id", "value": "={{ $env.GOOGLE_PLACE_ID }}" },
            { "name": "fields", "value": "reviews,rating,user_ratings_total" },
            { "name": "key", "value": "={{ $env.GOOGLE_MAPS_API_KEY }}" },
            { "name": "language", "value": "fr" }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0017-0017-0017-000000000003",
      "name": "Récupérer avis Trustpilot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 420],
      "parameters": {
        "method": "GET",
        "url": "https://api.trustpilot.com/v1/business-units/find",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{ "name": "name", "value": "={{ $env.TRUSTPILOT_DOMAIN }}" }]
        },
        "headers": {
          "parameters": [{ "name": "apikey", "value": "={{ $env.TRUSTPILOT_API_KEY }}" }]
        }
      }
    },
    {
      "id": "a1b2c3d4-0017-0017-0017-000000000004",
      "name": "Consolider avis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "jsCode": "const google = $('Scraper avis Google Places').item.json.result || {};\nconst googleReviews = (google.reviews || []).slice(0, 10);\nconst noteGoogle = google.rating || 0;\nconst nbAvisGoogle = google.user_ratings_total || 0;\n\nconst trustpilot = $('Récupérer avis Trustpilot').item.json || {};\nconst noteTrustpilot = trustpilot.score?.trustScore || 0;\nconst nbAvisTrustpilot = trustpilot.numberOfReviews?.total || 0;\n\nconst tousLesAvis = [\n  ...googleReviews.map(r => ({ source: 'Google', auteur: r.author_name, note: r.rating, texte: r.text, date: new Date(r.time * 1000).toISOString() })),\n];\n\nconst noteGlobale = (noteGoogle * nbAvisGoogle + noteTrustpilot * nbAvisTrustpilot) / Math.max(nbAvisGoogle + nbAvisTrustpilot, 1);\n\nreturn {\n  note_google: noteGoogle,\n  nb_avis_google: nbAvisGoogle,\n  note_trustpilot: noteTrustpilot,\n  nb_avis_trustpilot: nbAvisTrustpilot,\n  note_globale: Math.round(noteGlobale * 10) / 10,\n  total_avis: nbAvisGoogle + nbAvisTrustpilot,\n  avis_recents: tousLesAvis,\n  periode_analyse: new Date().toLocaleDateString('fr-FR')\n};"
      }
    },
    {
      "id": "a1b2c3d4-0017-0017-0017-000000000005",
      "name": "Analyser sentiments avec IA",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1000, 300],
      "parameters": {
        "operation": "message",
        "modelId": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es expert en e-réputation et analyse de sentiments. Analyse les avis clients et génère un rapport JSON:\n{\n  \"sentiment_global\": \"très positif\" | \"positif\" | \"neutre\" | \"négatif\",\n  \"score_satisfaction\": number (0-100),\n  \"points_forts\": [\"string\"],\n  \"points_amelioration\": [\"string\"],\n  \"tendance\": \"en hausse\" | \"stable\" | \"en baisse\",\n  \"avis_negatifs_a_repondre\": [{ \"auteur\": string, \"extrait\": string, \"priorite\": string }],\n  \"recommandations\": [\"string\"],\n  \"resume_executif\": \"string (3-4 phrases)\"\n}"
            },
            {
              "role": "user",
              "content": "Données de réputation:\n{{ JSON.stringify($json, null, 2) }}"
            }
          ]
        },
        "options": { "temperature": 0.3, "maxTokens": 1500 }
      }
    },
    {
      "id": "a1b2c3d4-0017-0017-0017-000000000006",
      "name": "Parser analyse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "jsCode": "const content = $input.item.json.message.content;\nlet analyse;\ntry {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  analyse = JSON.parse(match[0]);\n} catch(e) { analyse = { sentiment_global: 'neutre', resume_executif: content }; }\nreturn { ...analyse, data: $('Consolider avis').item.json };"
      }
    },
    {
      "id": "a1b2c3d4-0017-0017-0017-000000000007",
      "name": "Rapport Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1500, 200],
      "parameters": {
        "operation": "sendMessage",
        "guildId": "={{ $env.DISCORD_GUILD_ID }}",
        "channelId": "={{ $env.DISCORD_MARKETING_CHANNEL_ID }}",
        "content": "⭐ **Rapport Réputation – {{ $json.data.periode_analyse }}**\n\n📊 Note globale : **{{ $json.data.note_globale }}/5** ({{ $json.data.total_avis }} avis)\n  • Google : {{ $json.data.note_google }}/5 ({{ $json.data.nb_avis_google }} avis)\n  • Trustpilot : {{ $json.data.note_trustpilot }}/5 ({{ $json.data.nb_avis_trustpilot }} avis)\n\n**Sentiment :** {{ $json.sentiment_global }} | **Tendance :** {{ $json.tendance }}\n\n✅ **Points forts :**\n{{ $json.points_forts?.map(p => `• ${p}`).join('\\n') }}\n\n📈 **Axes d'amélioration :**\n{{ $json.points_amelioration?.map(p => `• ${p}`).join('\\n') }}\n\n💬 **Avis négatifs à traiter :** {{ $json.avis_negatifs_a_repondre?.length || 0 }}"
      }
    },
    {
      "id": "a1b2c3d4-0017-0017-0017-000000000008",
      "name": "Email rapport réputation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1500, 420],
      "parameters": {
        "operation": "send",
        "toList": "={{ $env.SMTP_USER }}",
        "subject": "Rapport Réputation en ligne – {{ $json.data.periode_analyse }}",
        "emailType": "html",
        "message": "<html><body><h2>Rapport Réputation en ligne</h2><p>{{ $json.resume_executif }}</p><h3>Scores</h3><p>Note globale : <strong>{{ $json.data.note_globale }}/5</strong> ({{ $json.data.total_avis }} avis)</p><h3>Points forts</h3><ul>{{ $json.points_forts?.map(p => `<li>${p}</li>`).join('') }}</ul><h3>Axes d'amélioration</h3><ul>{{ $json.points_amelioration?.map(p => `<li>${p}</li>`).join('') }}</ul><h3>Recommandations</h3><ul>{{ $json.recommandations?.map(r => `<li>${r}</li>`).join('') }}</ul></body></html>"
      }
    }
  ],
  "connections": {
    "Schedule – chaque lundi 8h": {
      "main": [
        [
          { "node": "Scraper avis Google Places", "type": "main", "index": 0 },
          { "node": "Récupérer avis Trustpilot", "type": "main", "index": 0 }
        ]
      ]
    },
    "Scraper avis Google Places": {
      "main": [[{ "node": "Consolider avis", "type": "main", "index": 0 }]]
    },
    "Récupérer avis Trustpilot": {
      "main": [[{ "node": "Consolider avis", "type": "main", "index": 0 }]]
    },
    "Consolider avis": {
      "main": [[{ "node": "Analyser sentiments avec IA", "type": "main", "index": 0 }]]
    },
    "Analyser sentiments avec IA": {
      "main": [[{ "node": "Parser analyse", "type": "main", "index": 0 }]]
    },
    "Parser analyse": {
      "main": [
        [
          { "node": "Rapport Discord", "type": "main", "index": 0 },
          { "node": "Email rapport réputation", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "versionId": "a1b2c3d4-0017-0017-0017-000000000099",
  "meta": { "instanceId": "nexum-flow" },
  "id": "nexum-wf-06-03",
  "tags": [{ "id": "tag-marketing", "name": "marketing" }, { "id": "tag-ia", "name": "ia" }, { "id": "tag-p3", "name": "priorite-3" }]
}
